.line {
  position: absolute;
  height: 350px;
  width: 100%;
  left: 0;
  bottom: 0;
}

.middle-page-m {
  width: 100%;
  position: relative;
  display: none;

  @media (max-width: 855px) {
    display: block;
  }

  & > img {
    width: 100%;
  }

  &-team {
    color: black;
    position: relative;
    line-height: 1.5;

    & > img {
      width: 100%;
    }
  }
}