.line {
  position: absolute;
  height: 800px;
  width: 100%;
  left: 0;
  bottom: 0;
}

.middle-page {
  width: 100%;
  background: white;
  position: relative;

  & > img {
    width: 100%;
  }

  &-top {
    position: relative;
    color: black;

    & h1 {
      height: 30px;
      font-size: 18px;
    }

    & > img {
      width: 100%;
      height: 100%;
    }

    &-title {
      font-size: 15px;
      margin: 0;
    }
  }

  &-box {
    left: 543px;
    top: 205px;
    position: absolute;
  }

  &-box-2 {
    left: 543px;
    top: 510px;
    position: absolute;
  }

  &-box-3 {
    left: 1015px;
    top: 510px;
    position: absolute;
  }
}

.middle-page-box {
  & > li {
    font-size: 12px;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1024px) {

  .middle-page {
    &-box {
      left: 34%;
      top: 23.5%;
    }

    &-box-2 {
      left: 34%;
      top: 60%;
    }

    &-box-3 {
      left: 63.5%;
      top: 60%;
    }

    &-top {
      & ul {
        margin-top: 8px;
      }
    }
  }
}


@media screen and (max-width: 1024px) {
  .middle-page {
    &-box {
      left: 34%;
      top: 23%;

    }

    &-box-2 {
      left: 34%;
      top: 60%;
    }

    &-box-3 {
      left: 63.5%;
      top: 60%;
    }

    &-top {
      & ul {
        margin-top: 0;
      }
    }
  }
}