*{
    box-sizing: border-box;
}

body{
    overflow-y: scroll;
    background: none;
}

:root{
    background-color: white;
    font-family: 'newFont', sans-serif;
}
img{
    display: block;
}
@font-face {
    font-family: 'newFont';
    src: url('assets/font/SOURCEHANSANSCN-MEDIUM.OTF') format('woff2'),
    url('assets/font/SOURCEHANSANSCN-MEDIUM.OTF') format('woff');
    font-weight: normal;
    font-style: normal;
}
